body {
    font-size: 14px;
    height: 3000px;
}

.text-center {
    text-align: center;
}

button.button {
    background-color: #fff;
    outline: 0;
    border: 1px solid #e2e2e2;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

button.button:hover {
    background-color: #f1f1f1;
}

select.bootpay-select {
    padding: 14px 23px 14px 12px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e2e2e2;
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDYgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPnNlbGVjdC0tYXJyb3dzPC90aXRsZT48cGF0aCBkPSJNMS4xNDIgOC42ODNMMi4zMSA5Ljc1cy4zNS4zOC42OS4zOGMuMzQgMCAuNjg5LS4zNzkuNjg5LS4zNzlsMS4xNjktMS4wNjhhLjY5LjY5IDAgMCAxIC45NDMuMDA2LjYyLjYyIDAgMCAxIC4wMDYuOTA1TDMuNDcgMTEuODE3QS42NzEuNjcxIDAgMCAxIDMgMTJhLjY3MS42NzEgMCAwIDEtLjQ2OS0uMTgzTC4xOTMgOS41OTRhLjYyLjYyIDAgMCAxIC4wMDYtLjkwNS42OS42OSAwIDAgMSAuOTQzLS4wMDZ6bTAtNS4zNjZBLjY5LjY5IDAgMCAxIC4yIDMuMzExYS42Mi42MiAwIDAgMS0uMDA2LS45MDVMMi41My4xODNBLjY3MS42NzEgMCAwIDEgMyAwYy4xNzEgMCAuMzQxLjA2LjQ2OS4xODNsMi4zMzggMi4yMjNhLjYyLjYyIDAgMCAxLS4wMDYuOTA1LjY5LjY5IDAgMCAxLS45NDMuMDA2TDMuNjg4IDIuMjVTMy4zNCAxLjg3IDMgMS44N2MtLjM0IDAtLjY5LjM4LS42OS4zOEwxLjE0MiAzLjMxN3oiIGZpbGw9IiM1MjVGN0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") no-repeat right 9px top 50%;
    font-size: 13px;
    font-weight: 600;
}

select.bootpay-select::-ms-expand {
    display: none;
}

select.bootpay-select:disabled {
    background-color: #FAFCFF;
    color: #B9C3C9;
}

.pg-select-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
}

.pg-select-box {
    margin-top: 30px;
    border: 1px solid #e2e2e2;
    padding: 1rem;
}

.group {
    padding: 12px 0;
}

.group > label {
    display: block;
    margin-bottom: 8px;
}

.group > select {
    width: 100%;
    display: block;
}

input.input-block {
    padding: 12px;
    border: 1px solid #e2e2e2;
    outline: 0;
    box-shadow: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}