server {
    server_name dev-inapp.bootpay.co.kr;;
    rewrite     ^   https://$server_name$request_uri? permanent;
}

server {
    listen 443 ssl http2;
    server_name dev-inapp.bootpay.co.kr;
    access_log /var/log/nginx/dev-inapp.bootpay.co.kr;.access;
    error_log  /var/log/nginx/dev-inapp.bootpay.co.kr;.error;
    proxy_set_header REMOTE_ADDR $remote_addr;
    proxy_set_header X-Real-IP   $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header ORIGIN "";
    proxy_set_header Host $http_host;
    proxy_set_header  X-Forwarded-Host $host;
    ssl                 on;
    ssl_certificate     /etc/nginx/ssl/bootpay.co.kr/public.pem;
    ssl_certificate_key /etc/nginx/ssl/bootpay.co.kr/private.key;
    ssl_protocols       SSLv3 SSLv2 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers EECDH+CHACHA20:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;
    ssl_dhparam /etc/nginx/ssl/dhparam.pem;
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate /etc/nginx/ssl/bootpay.co.kr/public.pem;
    resolver 8.8.8.8 8.8.4.4;
    ssl_prefer_server_ciphers   on;
    ssl_session_cache shared:SSL_CACHE:4m;
    ssl_session_timeout 5m;

    location / {
        root ;
    }

    client_max_body_size 100M;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root html;
    }
}